body {
   text-align: center;
}

.o-container {
   width: 25rem;
   height: 85vh;
   background-color: rgba(30, 30, 30, 0.8);
   box-shadow: 3px 4px 4px #1e1e1ecc;
   border-radius: 3rem;
   display: grid;
   /* justify-content: space-between; */
   align-items: center;
}

.text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.submit-form {
   height: 18rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.text-sm {
   width: 80%;
}
.error {
   margin-left: 2rem;
}
.password-input {
   width: 90%;
   background-color: #284b6e;
   padding: 0.8rem 1rem;
   border-radius: 15px;
}

.bottom-text span {
   margin: 0 0.4rem;
   border-bottom: 1px solid #9333ea;
}
.TandC {
   display: flex;
   gap: 0.5rem;
   position: absolute;
   bottom: 1rem;
}
.TandC input:checked {
   accent-color: #9233eacb;
}
.mnemonic-display {
   width: 90%;
   min-height: 35vh;
   background-color: #1d3b5a;
   color: #1d3b5a;
   padding: 0.8rem 1rem;
   border-radius: 15px;
   text-align: left;
   margin: 0 auto;
}
.loader {
   font-size: 2.5rem;
   animation: spin 1200ms ease-in-out infinite;
   color: #9333ea;

   -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v4h-2V7zm2 6h-2v-2h2v2z' fill='%23000'/%3E%3C/svg%3E");
   mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v4h-2V7zm2 6h-2v-2h2v2z' fill='%23000'/%3E%3C/svg%3E");
   background-image: linear-gradient(to right, #2dd4bf, #9333ea);
   width: 2em;
   height: 2em;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: contain;
   mask-size: contain;
}

svg {
   color: linear-gradient(to right, #2dd4bf, #9333ea);
}

@keyframes spin {
   0% {
      transform: rotate(0deg) scale(1);
   }
   25% {
      transform: rotate(90deg) scale(1.08);
   }
   50% {
      transform: rotate(180deg) scale(1.16);
   }
   75% {
      transform: rotate(270deg) scale(1.08);
   }
   100% {
      transform: rotate(360deg) scale(1);
   }
}

.loader-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding: 3rem;
}
.security-notice {
   margin: 0.5rem;
   padding: 0.5rem 2rem;
   background-color: #fef2f2;
   border-radius: 0.5rem;
   border: 1px solid #fca5a5;
}

.security-text {
   font-size: 0.75rem;
   color: #b91c1c;
}

.security-list {
   display: grid;
   text-align: left;
}
.full-container {
   height: 90vh;
}
.w-full .primary-btn {
   margin-top: 0;
}
