body {
   text-align: center;
}

.o-container {
   width: 28rem;
   height: 35rem;
   background-color: rgba(30, 30, 30, 0.8);
   box-shadow: 3px 4px 4px #1e1e1ecc;
   border-radius: 3rem;
   display: grid;
   /* justify-content: space-between; */
   align-items: center;
}

.text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.submit-form {
   height: 18rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.text-sm {
   width: 80%;
}
.error {
   margin-left: 2rem;
}
.password-input {
   width: 90%;
   background-color: #284b6e;
   padding: 0.8rem 1rem;
   border-radius: 15px;
}
.bottom-text {
}
.bottom-text span {
   margin: 0 0.4rem;
   border-bottom: 1px solid #646cff;
}
.TandC {
   display: flex;
   gap: 0.5rem;
   position: absolute;
   bottom: 2rem;
}
.TandC input:checked {
   accent-color: #646cff;
}
.mnemonic-display {
   width: 90%;
   background-color: #284b6e;
   padding: 0.8rem 1rem;
   border-radius: 15px;
   text-align: left;
}
